body{background-image:url('https://st2.depositphotos.com/3926191/10812/i/450/depositphotos_108127398-stock-photo-colorful-bokeh-background.jpg');
    background-size: cover;
}

#Para_1{
 background-color: brown;   
}

#Para_2{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

#Para_3{
    font-size: medium;
    font-weight: 800;
}

.grp1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px red;
    border-style: double;
}

#List_1{
    list-style: square;
}

.Table{
    border: 2px solid red;
    border-collapse: collapse;
    margin: 5% 30% 5% 40%;
}
.Table,th{
    border-bottom: 2px solid green;
    border-right: 2px solid green;
}
.Table,td{
    border-right: 2px solid red;
    padding: 7px 20px 7px 20px;
}
.Table,tr{
    border-bottom: 2px solid red;
}